@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700';

.clear {clear: both;}
.title {font-family: 'Open Sans Condensed', sans-serif;font-size: 50px;font-weight: 300;text-transform: uppercase;}
.pb0 {padding-bottom: 0!important;}
.mt30 {margin-top: 30px;}

.title-laranja:after {content:url(../images/bg-title-laranja.png);width: 114px;height: 117px;margin-left: -260px;margin-top: -25px;position: absolute;}
.title-rosa:after {content:url(../images/bg-title-rosa.png);width: 114px;height: 117px;margin-left: -130px;margin-top: -25px;position: absolute;}
.title-verde:after {content:url(../images/bg-title-verde.png);width: 114px;height: 117px;margin-left: -100px;margin-top: -25px;position: absolute;}

body {font-family: 'Open Sans', sans-serif;}

/*Header*/
header h2 {padding-top: 35px;color: #7069b0;}
.logo-conecta {padding-top: 10px;}
.logo-bp {padding-top: 25px;}

/*Banner*/
#banner {background:url(../images/bg-banner.jpg) no-repeat center top;background-size:cover;text-align:center;color:#fff;padding: 100px 0;}
#banner h3 {margin:0 0 20px;font-size:55px;line-height:30px;text-transform:uppercase;font-family: 'Open Sans Condensed', sans-serif;}
#banner p {width:80%;margin:0 auto 25px;font-size:19px}
#banner a {display:inline-block;padding:5px 35px;font-size:19px;color:#fff;text-transform:uppercase;border:2px solid #fff;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
#banner a:hover {text-decoration:none}

/*Agendamento*/
#agendamento {padding: 50px 0;}
#agendamento .steps {margin:0 0 30px;}
#agendamento h4 {float: left;width: 33%;text-align: center;text-transform: uppercase; color: #7069b0;}
#agendamento h4 span {border:1px solid #7069b0; color: #7069b0; padding: 10px 15px;border-radius: 50%;}
#agendamento h4 span.active {background: #7069b0;color: #ffffff;}

.col-active {box-shadow: 20px 20px 20px #eaeaea;}

/*Horários*/
.horarios dl dt {color:#6d6e70;text-align: center;margin-bottom: 20px;}
.horarios dl dd ul li {display: inline-block;width: 29.333%;text-align: center;padding: 10px 0;margin: 0 5px 10px;font-size: 20px;}
.horarios dl dd ul li.disable {color: #d0d1d2;border:1px solid #d0d1d2;border-radius: 10px;}

/*Dados*/
.dados input[type=text] {width: 100%;color: #6d6e70;border:1px solid #d0d1d2;padding: 10px;margin-bottom: 10px;}
.dados .termos {overflow-y:scroll;width: 100%;height: 100px;border:1px solid #d0d1d2;padding: 10px;}
p.text {font-size: 12px;color: #6d6e70;margin-bottom: 10px;}

/* Abas*/
#abas {float:left;width:100%;padding: 50px 0;}
#abas .content {border: 1px solid #dddddd; width: 80%;position: relative;left: 50%;margin-left: -40%;-webkit-border-radius: 2px;-webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius: 2px;-moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-radius: 2px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
#abas .abas {float:left;width:100%}
#abas .tabs li {float:left;font-size:13px;text-transform:uppercase;width: 33%;text-align: center;}
#abas .tabs li a {border-bottom: 4px solid #7069b0;font-family: 'Open Sans Condensed', sans-serif;font-size: 29px;}
#abas .tabs li a.active,
#abas .tabs li a:hover {border-bottom: 4px solid #f15501;color: #404040;}
#abas .tabs li:before {content: "";float: right;color:#dddddd;background-color: #dddddd;height: 40px;width: 1px;margin-top: 10px;}
#abas .tabs li:last-child:before {content: "";display: none;}
#abas .tabs li a {display:block;padding:9px 13px;color:#98989b;text-decoration: none;}
#abas .tabs li.select a {background:#7e9fd2;color:#fff;border-color:#7e9fd2}
#abas .content_aba {float:left;width:100%;padding: 40px 20px;}
#abas .image, #abas .mapa {width: 100%;text-align: center;}
#abas .content h4 {margin-bottom: 20px;}
#abas .content p {font-size: 13px;margin-bottom: 20px;}
#abas hr {height: 1px;border:0;background-color: #dddddd;margin: 30px 0;clear: both;}
#abas .lista {width: 100%;background-color: #e2e1ef; padding: 20px 80px;}
#abas ul.list {float:left;width: 50%;}
#abas ul.list li {color: #7069b0;list-style: disc;margin-bottom: 15px;font-size: 14px;}
#abas .video {width: 100%;height: 165px;background:linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),url(../images/video.png) no-repeat;background-size: cover;text-align: center;}
#abas .firstcol:before {content: "";float: right;color:#dddddd;background-color: #dddddd;height: 560px;width: 1px;margin-top: 10px;margin-right: -10px;}
#abas .box {text-align: center;margin-top: 30px;height: 8.8em;}
#abas .box.boxmundo {border:1px solid #7069b0;}
#abas .box .icone {margin-top: -22px;}
#abas .box h2.mundo {font-family: 'Open Sans Condensed', sans-serif;font-size: 46px;color:#7069b0;font-weight: 300;margin-bottom: -10px;}
#abas .box p.mundo {margin: 0;color:#7069b0;text-transform: uppercase;font-size: 12px;}
#abas .box p.mundo span {font-weight: bold;font-size: 13px;color:#7069b0;text-transform: none;}
#abas .box.boxbrasil {border:1px solid #f15501;}
#abas .box h2.brasil {font-family: 'Open Sans Condensed', sans-serif;font-size: 46px;color:#f15501;font-weight: 300;margin-bottom: -10px;}
#abas .box p.brasil {margin: 0;color:#f15501;text-transform: uppercase;font-size: 12px;}
#abas .box p.brasil span {font-weight: bold;font-size: 13px;color:#f15501;text-transform: none;}
#abas .mapa {margin-top: 30px;}
#abas .title_mundo {font-family: 'Open Sans Condensed', sans-serif;text-align: center;color:#7069b0;font-weight: 300;font-size: 26px;margin-bottom: 20px;}
#abas .title_brasil {font-family: 'Open Sans Condensed', sans-serif;text-align: center;color:#f15501;font-weight: 300;font-size: 26px;margin-bottom: 20px;}

/*Depoimentos*/
#depoimentos {padding: 90px 0 80px;}
#depoimentos h2 {color: #f79036;margin-bottom: 25px;}
.content_depoimento {padding: 10px 20px;}
.content_depoimento h3 {margin-bottom: 20px;font-size: 16px;}
.content_depoimento p {font-size: 14px;}
.video1 {
	background:
		linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),
		url(../images/video1.png) no-repeat;
	background-size: cover;width: 100%;height: 200px;text-align: center;}
.video2 {
	background:
		linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),
		url(../images/video2.png) no-repeat;
	background-size: cover;width: 100%;height: 200px;text-align: center;}
.video3 {
	background:
		linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4)),
		url(../images/video3.png) no-repeat;
	background-size: cover;width: 100%;height: 200px;text-align: center;}
.play {position: relative;top: 50%;margin-top: -21px;}
.autor {border-top: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;padding: 10px 0;margin: 15px 0;}
.autor p {}
#depoimentos .owl-pagination .owl-page span {background:#ffffff;border:1px solid #f15501;}
#depoimentos .owl-pagination .owl-page.active span {background:#f15501;}

/*Treinamometro*/
#treinamometro {background:url(../images/bg-treinamometro.jpg) no-repeat center top;background-size:cover;text-align:center;color:#fff;padding: 100px 0;}
#treinamometro h3 {margin:0 0 20px;font-size:55px;line-height:30px;text-transform:uppercase;text-shadow: 0 0 20px #404040;}
#treinamometro p {width:80%;margin:0 auto 25px;font-size:19px;text-shadow: 0 0 20px #000;}
#treinamometro a {display:inline-block;padding:5px 35px;font-size:19px;color:#fff;text-transform:uppercase;border:2px solid #fff;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;text-shadow: 0 0 20px #000;}
#treinamometro a:hover {text-decoration:none}

/*Faq*/
#faq {background: #f5f9eb;padding: 90px 0 80px;}
#faq h2, #faq h3 {color: #a1c039;text-transform: uppercase;}
#faq dl {border-bottom: 1px solid #a1c039;padding: 20px 0 10px;}
#faq dl dt {font-weight: bold;margin-bottom: 10px;cursor: pointer;}
#faq dl dd {font-size: 13px;}
#faq input, #faq textarea {background: transparent;display: block;width: 100%;border: 1px solid #d1d4c7;padding: 15px 12px;margin-bottom: 20px;box-shadow: 2px 2px 0 #e4e4e4;resize: none;font-weight: bold;font-size: 14px;color: #6d6e70;}
#faq .ativo:after {content:url(../images/up.png)!important;float: right;cursor: pointer;}
#faq .bt_click:after {content:url(../images/down.png);float: right;cursor: pointer;}
.toggleDiv {display:none;}
.line_div {width: 1px; height: 600px;background: #a1c039;margin-left: 35px;}
.pergunta h3 {font-family: 'Open Sans Condensed',sans-serif;font-weight: 300;font-size: 24px;}
.pergunta p {font-size: 14px;margin-top: 10px;color: #6d6e70;}
.pergunta fieldset {margin-top: 20px;}
.pergunta fieldset button {font-size:16px;border: 2px solid #a1c039;color: #a1c039;background: transparent;padding: 5px 40px;border-radius: 10px;text-transform: uppercase;font-weight: bold;font-family: 'Open Sans', sans-serif;}
.pergunta fieldset button:hover {color: #ffffff;background: #a1c039;}
#faq .owl-pagination .owl-page span {background:#ffffff;border:1px solid #a6c343;}
#faq .owl-pagination .owl-page.active span {background:#a6c343;}
#faq .owl-theme .owl-controls {margin-top: 40px;}
#faq .owl-buttons {margin-top: -40px;}
#faq .owl-buttons .owl-next {margin-left: 120px;}
#faq .owl-theme .owl-controls .owl-buttons div {-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;padding: 2px 12px;background: transparent;border: 2px solid #a6c343;color: #a6c343;opacity: 1;font-size: 20px;}
.img-faq {margin-top: 65px;}

/*Guias*/
#guias {padding: 90px 0 80px;}
#guias h2 {color: #f06ca7;text-transform: uppercase;margin-bottom: 20px;}
.guia {width: 100%;}
.guia .icone {width: 20%;float: left;}
.guia .conteudo {width: 75%;float: left;}
.guia .conteudo p {font-size: 14px;margin: 10px 0;}
.guia .conteudo a {color: #f06ca7;border: 2px solid #f06ca7;border-radius: 10px;padding: 5px 0;display: block;text-align: center;padding: 10px 15px;}

/*Modal*/
.modal img {width: 100%;}