@import 'https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300';

.clear {
	clear: both;
}

/*Header*/
header h2 {
	padding-top: 35px;
	color: #7069b0;
}

.logo-conecta {
	padding-top: 10px;
}

.logo-bp {
	padding-top: 25px;
}

#intro {
	width: 100%;
	padding: 70px 0;
	background: url(../images/bg-intro.jpg) no-repeat;
	background-size: cover;
	background-position: bottom;
}

.box-intro {
	margin: 0 auto;
	width: 32%;
	padding-bottom: 40px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 0px 20px #404040;
}

.topo {
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

.topo h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 39px;
}

.line-intro {
	background: #fe7c01; /* Old browsers */
	background: -moz-linear-gradient(left, #fe7c01 0%, #ffc900 50%, #ffe400 76%, #f6e204 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fe7c01 0%,#ffc900 50%,#ffe400 76%,#f6e204 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fe7c01 0%,#ffc900 50%,#ffe400 76%,#f6e204 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe7c01', endColorstr='#f6e204',GradientType=1 ); /* IE6-9 */
	height: 4px;
	width: 100%;
	margin-bottom: 30px;
}

.boxes {
	width: 50%;
	float: left;
	text-align: center;
	border-right: 1px solid #d0d1d2;
}

.boxes a {
	color: #7069b0;
	border:2px solid #7069b0;
	border-radius: 10px;
	padding: 5px 50px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 0.03em;
	font-weight: bold;
}

.boxes a:hover {
	background: #7069b0;
	color: #ffffff;
}

.boxes small {
	color: #7069b0;
	font-weight: bold;
}

@media screen and (max-width: 639px) {
	.box-intro {width: 90%;margin-left: 5%; }
	.boxes {width: 100%;margin-bottom: 30px;}
	.boxes:last-child {margin-bottom: 0!important;}
}