/* iPhone 4 e 5 */
@media screen and (max-width:639px) {
    p {font-size: 14px!important;}
    header h2 {padding-top: 10px;}
    .some {display: none;}
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {float: none;width: 99%;}
    #banner, #treinamometro {padding: 40px 0;}
    #abas ul.tabs {width: 100%;}
    #abas .tabs li {width: 99%;}
    #abas .tabs li:before {display: none;}
    .logo-conecta, .titulo-topo, .logo-bp {text-align: center;}
    .logo-conecta {padding-top: 20px;}
    .logo-bp {padding: 20px 0;}
    #banner p, #banner h3, #treinamometro h3 {text-shadow: 1px 1px 10px #000;}
    #banner h3, #treinamometro h3 {line-height: 50px;font-size: 30px;}
    #agendamento h4 {float: none;}
    #abas .content {width: 99%;left: 0;margin-left: 0;}
    #abas .content .image img, #abas .content .mapa img {width: 100%;height: auto;}
    #abas .lista {padding: 20px 30px;}
    #abas ul.list {width: 100%;float: none;}
    .img-faq {width: 100%;height: auto;max-width: 352px;padding-top: 20px;}
    #treinamometro a, #banner a {font-size: 13px;}
    .pergunta {margin-top: 30px!important;width: 90%;margin-left: 5% !important;}
    footer span {display: block;padding-top: 10px;}
}

/* iPhone 6/6Plus Landscape e iPad Mini Portrait */
@media screen and (min-width:640px) and (max-width:959px) {
    .some {display: none;}
    .onerow {}
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {float: none;width: 99%;}
    .col1 img,.col2 img,.col3 img,.col4 img,.col5 img,.col6 img,.col7 img,.col8 img,.col9 img,.col10 img,.col11 img,.col12 img {/*width:100%;height:auto;display:block;*/}
    .logo-conecta, .titulo-topo, .logo-bp {text-align: center;}
}

/* iPad Mini landscape e Desktop */
@media screen and (min-width:960px) and (max-width:1200px) {
    .onepcssgrid-1000 {max-width: 1000px;}
    .onepcssgrid-1000 .onerow {padding: 0;}
}